.basketUl li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}

.siparisOnaylaBox {
  border: solid 2px #cac9c9;
  width: 40%;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


@media only screen and (max-width: 600px) {
  .basketUl li {
    width: 100%;
  }

  .siparisOnaylaBox {
    width: 100%;
  }

  .basketUl li {
    flex-direction: column;
  }

  .basketUl li img {
    width: 100%;
  }

  .basketUl li span {
    width: 100%;
  }
 
}


