.homePageCarousel{
display: flex;
justify-content: center;
margin-top: 30px;

}

.enCokSatılanlarBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    color: #4a5568;
    font-weight: bold;
}

.enCokSatılanlar{
    border: solid 1px #e0e0e0;
    border-radius: 8px;
    padding: 40px;
}

.ozelFiyatlarBox{
    display: flex;
    flex-direction: row;
    height: 250px;
    border: solid 1px #c0b9dd;
    border-radius: 8px;
}

.ozelFiyatlar{
    background-color: #c0b9dd;
    color: white;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    margin-top: 0;
}

.ozelFiyatlarImage{
    width: 40%;
}

