.explanationContact {
  margin-bottom: 2rem;
}
.explanationContact__buttonBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.grow img {
  transition: 1s ease;
  cursor: pointer;
}

.grow img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

.homePageCarouselBox {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.homePageCarousel {
  width: 800px;
}

.enCokSatılanlarBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
  color: #4a5568;
  font-weight: bold;
}

.enCokSatılanlar {
  border: solid 1px #e0e0e0;
  border-radius: 8px;
  padding: 40px;
}

.ozelFiyatlarBox {
  display: flex;
  flex-direction: row;
  height: 250px;
  border: solid 1px #c0b9dd;
  border-radius: 8px;
}

.ozelFiyatlarBox img {
  transition: 1s ease;
  cursor: pointer;
  border-radius: 10px;
}
.ozelFiyatlarBox img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

.ozelFiyatlar {
  background-color: #c0b9dd;
  color: white;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
  margin-top: 0;
}

.ozelFiyatlarImage {
  width: 40%;
}

.contactPart {
  width: 500px;
}

@media only screen and (max-width: 390px) {
  .icon {
    display: none;
    margin-bottom: 0;
  }

  .homePageCarousel {
    margin-top: 0;
    width: 300px;
  }

  .encokSatılanlarImage {
    display: none;
  }

  .enCokSatılanlar {
    margin-left: 50px;
  }

  .ozelFiyatlar {
    width: 40%;
  }

  .ozelFiyatlarImage {
    width: 60%;
  }

  .ozelFiyatlar Button {
    font-size: 13px;
    width: 70%;
  }

  .explanationContact {
    grid-template-columns: 1fr !important;
  }

  .explanation {
    font-size: 10px;
  }
  .contactPart {
    width: 350px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 820px) {
  .icon {
    width: 60px;
    height: 70px;
  }
  .homePageCarousel {
    width: 600px;
  }

  .encokSatılanlarImage {
    width: 240px;
    height: 350px;
  }

  .ozelFiyatlar {
    width: 40%;
  }

  .ozelFiyatlarImage {
    width: 60%;
  }

  .ozelFiyatlar Button {
    font-size: 20px;
    width: 70%;
  }

  .explanationContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .explanation {
    font-size: 18px;
  }
  .contactPart {
    width: 800px;
  }
}

@media screen and (max-width: 800px) {
  .explanationContact {
    grid-template-columns: 1fr !important;
  }
  .explanationContact__buttonBox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  .contactPart {
    max-width: 300px;
  }
}
@media screen and (min-width: 800px) {
  .explanationContact__buttonBox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  .contactPart {
    max-width: 300px;
  }
}
