.nav {
  display: flex;
  justify-content: center;
  padding: 13px;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  line-height: 2px;
  align-items: center;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  align-items: center;
}

.nav .left {
  display: flex;
}

.nav .left .menu {
  display: flex;
  align-items: center;
}

.nav .left .menu li a {
  color: #4a5568;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 3px 16px;
  display: block;
  font-size: 18px;
}

.nav .right a {
  margin-left: 5px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.drawerMenuLi {
  font-size: 18px;
  color: #4a5568;
}

@media screen and (max-width: 600px) {
  .innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
  }

  .menuButton {
    border: none;
    font-weight: 400;
  }

  .logo {
    display: none;
  }

  .nav .left {
    width: 100%;
    margin-bottom: 8px;
  }

  .nav .left .menu {
    display: flex;
    flex-direction: row;
  }

  .nav .left .menu li a {
    font-size: 16px;
  }

  .nav .right {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: 0 5px 5px 0;
  }
}

@media screen and (max-width: 900px) {
  .innerContainer {
    max-width: 690px;
  }
}
