.footer{
    background-color: #4a5568;
    width: 100%;
    color:white;
    display: flex;
    justify-content: center;
}

.innerFooter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 0.5rem;
}

.socialmediaIcon{
    display: flex;
    flex-direction: column;
}