#content {
  padding: 15px;
  min-height: 500px;
  display: flex;
  justify-content: center;
}

.container{
  max-width: 1200px;
  width: 100%;
}

/*scroll button*/
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 17px;
  background: #c0b9dd;
  color: white;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  box-shadow: 0 3px 3px #ccc;
  padding: 10px;
}

.back-to-top:hover {
  background: #84A59D;
}
